main {
	width: 940px;
	margin: 0 auto;
}

body {
	font-family: 'Montserrat', sans-serif;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display: block; /* QUEBRANDO O FORM PRA FICAR UM EMBAIXO DO OUTRO */
	font-size: 20px;
	margin-bottom: 10px;
}

.input-padrao {
	display: block;
	margin-bottom: 20px;
	padding: 10px 10px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
	
}

.horario {
	padding-top: 0.5em;
}

.principal-contato select {
	width: 25%;
	font-size: 20px;
	padding: 10px;
}

.enviar {
	width: 52%;
	padding: 20px;
	background-color: orangered;
	color: white;
	font-size: 18px;
	border: none;
	font-weight: bold;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: green;
	transform: scale(1.03); /*Aumenta o elemento proporcionalmente*/
	font-size: 30px;
}

.enviar:active {
	background: greenyellow;
}

table {
	margin: 20px 0 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}
